/* ======== 회원가입 화면 ========== */
.titlebox {
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    margin: 70px auto;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.join-form {
    /* 부트스트랩에서 col클래스가 float를 가지고 있어서 가운데 정렬이 불가 */
    /* 1개의 col클래스를 가운데 정렬할 때는 margin과 float을 제거 */
    margin:0 auto;
    float: none;
}

.join-form > form {
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); /* 가로축그림자, 세로축그림자, 명암, 색상 */
    padding: 30px;
}

@media(max-width: 768px){
    .join-form > form {
        padding: 0;
    }
}

/* ========== 로그인 화면 =========== */
.login-outer {
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.login-outer > .login-img > img{
    width: 100%;
}

/* 전체화면 */
.login-content {
    padding: 44px 30px;
}

/* 태블릿환경 */
@media(min-width: 992px) and (max-width: 1199px){ /* 992 ~ 1199 */
    .login-content {
        padding: 12px 30px;
    }
}

/* 모바일환경 */
@media(max-width: 768px){
    .login-content {
        padding: 12px 0px;
    }

    .login-outer {
        padding: 50px;
    }
}